<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Esta aplicacion fue creada con fines educativos, para implementara Nodejs y Mongodb. Esta aplicacion fue creada por Carlos 
        Daniel Ortiz Galeano</p>
  </div>
</section>