<div class="jumbotron mt-4">
    <h1 class="display-4"> App Subastas con Nodejs y Mongodb</h1>
    <p class="lead">Una aplicación simple para administrar subastas debido a la emergencia sanoitaria desarrollada con tecnologías Nodejs, Express, Mongodb y Javascript</p>
    <hr class="my-4">
     <p>Debido a la emergencia sanitaria vivida se quiso desarrollar esta aplicacion para que las personas puedan vneder sus bines materiales 
         en manera d euna subasta </p>
  <a class="btn btn-primary btn-lg" href="http://faztweb.com" role="button">FaztWeb</a>
</div>
